* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(206, 250, 234);
}

/* button {
  margin-top: 5%;
  width: 150px;
  height: max-content;
  cursor: pointer;
  justify-content: center;
  display: flex;
  border-radius: 35px;
  font-weight: 800;
} */

.navbar ul {
  background-color: white;
}

.navbar li {
  float: left;
  list-style: none;
  margin: 10px;
  padding: 5px;
}
